body{
  overflow-x: hidden;
  background-image: url('../img/Bookdoc_bg.png');
  background-size: contain;
}

.card{
  border: 2px solid #00d9a5;
}
.card-header{
  background-color: #00d9a5;
  color: #ffffff;
}

.h4{
  padding: 1.1rem;
  color: #00d9a5;
}


.info{
  margin-left: 2%;
}
.buttonss{
  width: 100%;
  margin-left: 2.6%;
  font-size: 1.3rem;
  color: #00d9a5;
  
}

.rbtn{
  margin-left: 2%;
  font-weight: 900;
}

.btn-b{
  margin: 2rem 0 2rem 2rem;
  width:10%;
	color: #00D9A5;
	border-color: #00D9A5;
	font-weight: 500;
	font-size: 1.1rem;
	background-color: #ffffff;
}
.btn-b:hover{
	background-color: #0e9777;
	border-color: #0e9777;
	color: #ffffff;
}
.btn-b:focus{
    border-color: #00D9A5;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #00D9A5;
}
