.btn-b{
    width:40%;
	color: #00D9A5;
	border-color: #00D9A5;
	font-weight: 500;
	font-size: 1.3rem;
	background-color: #ffffff;
}
.btn-b:hover{
	background-color: #0e9777;
	border-color: #0e9777;
	color: #ffffff;
}
.btn-b:focus{
    border-color: #00D9A5;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #00D9A5;
}


/* .buttonss {
    flex-direction: row;
  }
  
.buttonss {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  } */
  /* ---------------------------------------- */