.bg{
    background-image: url('../img/FindDoc-MainPage.png');
    /* background-repeat: no-repeat; */
    background-size: contain, cover;

    padding-bottom: 5%;
}

.mar{
    padding-top: 10%;
    padding-bottom: 10%;

}


td{
    text-align: center;
}

table{
    width: 60% !important;
    margin: 3rem auto !important;
}


.form-select {
    width: 33.5%;
    border-color:#00D9A5;
    margin: auto;
    font-size: 1.2rem;
    margin-bottom: 1rem;    
}

.form-select:focus {
    background-color: #fff;
    border-color: #00D9A5;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #00D9A5;
}

.form-group {
    text-align: center;
    width: 35%;
    height: 5rem;
    border-color:#00D9A5;
    margin: auto;
    font-size: 1.2rem; 
}


.form-control:focus {
    background-color: #fff;
    border-color: #00D9A5;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #00D9A5;
}

.speciality{
    width: 95%;
    margin: auto;
}

.col{
    color: black;
    width: 30%;
}

.btn-s{
    width:40%;
	color: #00D9A5;
	border-color: #00D9A5;
	font-weight: 500;
	font-size: 1.3rem;
	background-color: #ffffff;
}
.btn-s:hover{
	background-color: #0e9777;
	border-color: #0e9777;
	color: #ffffff;
}
.btn-s:focus{
    border-color: #00D9A5;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #00D9A5;
}
