html,body {
	height: 100%;
}

body.my-login-page {
	background-color: #f7f9fb;
	font-size: 14px;
}

.my-login-page .brand {

	width: 90px;
	height: 90px;
	overflow: hidden;
	margin: 0 auto 40px auto;
	position: relative;
	z-index: 1;
}

a{
	color: #05bd92;
}
a:hover{
	color: #00D9A5;
}
.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	width: 400px;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.my-login-page .card.fat {
	padding: 10px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #00D9A5;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #00D9A5;
}



.my-login-page .form-group label {
	width: 100%;
}

.btn-prime{
	background-color: #00D9A5;
	border-color: #00D9A5;
	font-weight: 500;
	font-size: 1.3rem;
	color: #ffffff;
}
.btn-prime:hover{
	background-color: #0e9777;
	border-color: #0e9777;
	color: #ffffff;
}
.btn-prime:focus{
    border-color: #00D9A5;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #00D9A5;
}
/* .btn-prime {
    color: rgb(0, 0, 0);
    border-color: #00D9A5;
    font-weight: 500;
    font-size:1.2rem;
}  */

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}